.mod-schedule-set-view-btn {
    border: 1px solid #aaa;
    border-radius: 5px;
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
}


.mod-schedule-set-view-btn-cur {
 {
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
}
